@model WebApplication.Models.Car

<h2>Деталі автомобіля</h2>

<ul>
    <li><b>Модель:</b> @Model.Model</li>
    <li><b>Колір:</b> @Model.Color</li>
    <li><b>Рік:</b> @Model.Year</li>
    <li><b>Тип кузова:</b> @Model.BodyType</li>
</ul>

<a asp-action="Index">Назад до списку</a>
